<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Not valid move</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <center>
            <h1>The selected move is not valid</h1>
            <form action="game" method="GET">
                <input type="submit" value="Play" id="button" />
            </form>
        </center>
    </body>
</html>
